rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isAdmin() {
      return isSignedIn() && (
        request.auth.token.email == 'riyadi83@gmail.com' ||
        request.auth.token.email == 'dpermanariyadi@gmail.com'
      );
    }

    match /projects/{projectId}/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /cv/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /logos/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
